<a href="https://colab.research.google.com/github/Jyotika999/MINI-PROJECT-/blob/main/DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://github.com/Jyotika999/MINI-PROJECT-/blob/main/state_wise_daily.csv

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Jyotika999/MINI-PROJECT-/main/state_wise_daily.csv")

In [3]:
df.head()

        Date    Date_YMD     Status  TT  AN  AP  AR  ...  TN  TG  TR  UP  UT  WB  UN
0  14-Mar-20  2020-03-14  Confirmed  81   0   1   0  ...   1   1   0  12   0   0   0
1  14-Mar-20  2020-03-14  Recovered   9   0   0   0  ...   0   0   0   4   0   0   0
2  14-Mar-20  2020-03-14   Deceased   2   0   0   0  ...   0   0   0   0   0   0   0
3  15-Mar-20  2020-03-15  Confirmed  27   0   0   0  ...   0   2   0   1   0   0   0
4  15-Mar-20  2020-03-15  Recovered   4   0   0   0  ...   0   1   0   0   0   0   0

[5 rows x 42 columns]

In [4]:
df.tail()

           Date    Date_YMD     Status     TT  AN  ...  TR  UP  UT   WB  UN
1657  17-Sep-21  2021-09-17  Recovered  33833   2  ...  83  16  23  727   0
1658  17-Sep-21  2021-09-17   Deceased    285   0  ...   1   1   0    9   0
1659  18-Sep-21  2021-09-18  Confirmed  31130   2  ...  22   0  21  728   0
1660  18-Sep-21  2021-09-18  Recovered  39652   2  ...  45   0  14  757   0
1661  18-Sep-21  2021-09-18   Deceased    306   0  ...   0   0   1   12   0

[5 rows x 42 columns]

In [6]:
df.shape

(1662, 42)

In [7]:
df.isna().sum()

Date        0
Date_YMD    0
Status      0
TT          0
AN          0
AP          0
AR          0
AS          0
BR          0
CH          0
CT          0
DN          0
DD          0
DL          0
GA          0
GJ          0
HR          0
HP          0
JK          0
JH          0
KA          0
KL          0
LA          0
LD          0
MP          0
MH          0
MN          0
ML          0
MZ          0
NL          0
OR          0
PY          0
PB          0
RJ          0
SK          0
TN          0
TG          0
TR          0
UP          0
UT          0
WB          0
UN          0
dtype: int64

we see that there are no missing values in this dataset

In [24]:
# covid19_df_latest = covid19_df_latest.sort_values(by=['Confirmed'], ascending = False)
# plt.figure(figsize=(12,8), dpi=80)
# plt.bar(covid19_df_latest['State/UnionTerritory'][:5], covid19_df_latest['Confirmed'][:5],
#         align='center',color='lightgrey')
# plt.ylabel('Number of Confirmed Cases', size = 12)
# plt.title('States with maximum confirmed cases', size = 16)
# plt.show()
i = df[((df.Status == 'Recovered'))].index

In [25]:
df = df.drop(i)

In [26]:
j = df[((df.Status == 'Deceased'))].index

In [30]:
df = df.drop(j)

In [31]:
df.head()

         Date    Date_YMD     Status  TT  AN  AP  ...  TG  TR  UP  UT  WB  UN
0   14-Mar-20  2020-03-14  Confirmed  81   0   1  ...   1   0  12   0   0   0
3   15-Mar-20  2020-03-15  Confirmed  27   0   0  ...   2   0   1   0   0   0
6   16-Mar-20  2020-03-16  Confirmed  15   0   0  ...   1   0   0   1   0   0
9   17-Mar-20  2020-03-17  Confirmed  11   0   0  ...   1   0   2   0   1   0
12  18-Mar-20  2020-03-18  Confirmed  37   0   0  ...   8   0   2   1   0   0

[5 rows x 42 columns]

In [32]:
df.tail()

           Date    Date_YMD     Status     TT  AN  ...  TR  UP  UT   WB  UN
1647  14-Sep-21  2021-09-14  Confirmed  27502   8  ...  52  32  19  703   0
1650  15-Sep-21  2021-09-15  Confirmed  30355   0  ...  43  18  49  743   0
1653  16-Sep-21  2021-09-16  Confirmed  34653   3  ...   0  23  20  707   0
1656  17-Sep-21  2021-09-17  Confirmed  35354   1  ...  72  15  25  719   0
1659  18-Sep-21  2021-09-18  Confirmed  31130   2  ...  22   0  21  728   0

[5 rows x 42 columns]

In [33]:
df = df.drop(['Status'], axis = 1)

In [34]:
df.head()

         Date    Date_YMD  TT  AN  AP  AR  AS  ...  TN  TG  TR  UP  UT  WB  UN
0   14-Mar-20  2020-03-14  81   0   1   0   0  ...   1   1   0  12   0   0   0
3   15-Mar-20  2020-03-15  27   0   0   0   0  ...   0   2   0   1   0   0   0
6   16-Mar-20  2020-03-16  15   0   0   0   0  ...   0   1   0   0   1   0   0
9   17-Mar-20  2020-03-17  11   0   0   0   0  ...   0   1   0   2   0   1   0
12  18-Mar-20  2020-03-18  37   0   0   0   0  ...   1   8   0   2   1   0   0

[5 rows x 41 columns]

In [35]:
df.tail()

           Date    Date_YMD     TT  AN    AP  AR  ...   TG  TR  UP  UT   WB  UN
1647  14-Sep-21  2021-09-14  27502   8  1125  65  ...  336  52  32  19  703   0
1650  15-Sep-21  2021-09-15  30355   0  1445  71  ...  324  43  18  49  743   0
1653  16-Sep-21  2021-09-16  34653   3  1367  47  ...  259   0  23  20  707   0
1656  17-Sep-21  2021-09-17  35354   1  1393  38  ...  241  72  15  25  719   0
1659  18-Sep-21  2021-09-18  31130   2  1174  32  ...  255  22   0  21  728   0

[5 rows x 41 columns]